// AccessibleFromOnlyServerComponent
BACKEND_API_URL=YOUR_BACKEND_API_URL

JWT_ACCESS_SECRET=YOUR_JWT_ACCESS_SECRET
JWT_REFRESH_SECRET=YOUR_JWT_REFRESH_SECRET

// AccessibleFromClientAndServerComponent
NEXT_PUBLIC_BACKEND_API_URL=YOUR_BACKEND_API_URL